[package]
name = "qmk-xap-gui"
version = "0.0.0"
description = "QMK XAP GUI"
authors = ["you"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.57"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.1", features = [] }

[dependencies]
anyhow = "1.0"
binrw = "0.10"
bitflags = "1.3"
flate2 = "1.0"
crossbeam-channel = "0.5"
env_logger = "0.9"
hidapi = { version = "1.4", features = [
    "linux-static-hidraw",
], default-features = false }
log = "0.4"
once_cell = "1.15"
parking_lot = "0.12.1"
rand = "0.8"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tauri = { version = "1.1", features = ["api-all"] }
thiserror = "1.0"
ts-rs = { version = "6.2", features = ["serde-compat", "uuid-impl"] }
uuid = { version = "1.2.1", features = ["serde", "v4"] }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
